.highlights{
  font-family:
  color: cyan;
}
#cookies{
  font-family: helvetica;
  color: lightgreen;
  background-color: grey;
  font-size: 1.6em;
}
body{
  font-family: times;
  color: lightblue;
  background-color: darkgrey;
}
.table{
  background-color: grey;
  border: 2px dashed white;
}
#sal{
  background-image: url('salmon.png');
  background-position: center;
  margin: 25px;
  background-repeat: no-repeat;
  opacity: .5;
  /*z-index: -1;*/
}

#title{
  text-align: center;
  font-style: oblique;
  font-size: 4em;
  padding: 2.0em;
}
tabel, tr, theah, td, tfoot{
  border: 1px solid black;
}
